<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893561125424-hcd2g1312552ors49h2dtiqh8gj7tvs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893561125424-hcd2g1312552ors49h2dtiqh8gj7tvs0</string>
	<key>API_KEY</key>
	<string>AIzaSyDn2CWu7sMWp2BtvO_TsOcEufjEmCpxGiE</string>
	<key>GCM_SENDER_ID</key>
	<string>893561125424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.helios.MQTTPushClient</string>
	<key>PROJECT_ID</key>
	<string>mqttpushnotification-efcff</string>
	<key>STORAGE_BUCKET</key>
	<string>mqttpushnotification-efcff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893561125424:ios:9fc8c16520dd0a9f</string>
	<key>DATABASE_URL</key>
	<string>https://mqttpushnotification-efcff.firebaseio.com</string>
</dict>
</plist>